#sidebar {
    border-right: 1px solid rgba(127, 127, 127, 0.5);
}

#notify-label {
    font-size: 11px;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    background: #e00;
    padding: 0px 1px;
    border-radius: 6px;
    min-width: 10px;
    min-height: 10px;
}